**Lista em Python**

In [2]:
# Criando uma lista

lista_1 = ["Arroz, frango, tomate, leite"]

In [ ]:
# Tipo de lista
type(lista_1)

list

In [4]:
# Imprimindo a Lista
print(lista_1)

['Arroz, frango, tomate, leite']

In [5]:
# Criando outra lista com valores independentes
lista_2 = ["arroz", "frango", "tomate", "leite"]

In [6]:
type(lista_2)

list

In [7]:
print(lista_2)

['arroz', 'frango', 'tomate', 'leite']

In [14]:
lista_3 = [23, 100, "Cientista de Dados"]

In [15]:
type(lista_3)

list

In [16]:
print(lista_3)

[23, 100, 'Cientista de Dados']

In [17]:
# Atribuindo cada valor da lista em uma variavel

item1 = lista_3[0]
item2 = lista_3[1]
item3 = lista_3[2]

In [18]:
print(item1, item2, item3)

23 100 Cientista de Dados

**Atualiandao um item da lista**

In [20]:
lista_2[2]

'tomate'

In [21]:
lista_2[2] = "chocolate"

In [22]:
lista_2

['arroz', 'frango', 'chocolate', 'leite']

**Deletando um Item da lista**

In [ ]:
# Não é possivel deletar algo que não existe na lista, Vai gerar erro de Index, OUT OF RANGE
# del lista_2[10]  # Isso causaria um erro

del lista_2[4]

IndexError: list assignment index out of range

In [24]:
del lista_2[3]

In [25]:
lista_2

['arroz', 'frango', 'chocolate']

**Lista de Listas aninhadas**

In [1]:
# Criando uma lista de listas
listas = [ [1,2,3], [10,15,14], [10.1, 8.7, 2.3]]

In [2]:
print(listas)

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [13]:
a = listas[0]

In [14]:
a

[1, 2, 3]

In [15]:
b = a[0]

In [16]:
b

1

In [17]:
list1 = listas[1]

In [18]:
list1

[10, 15, 14]

In [19]:
valor_1_0 = list1[0]

In [20]:
valor_1_0

10

In [23]:
valor_1_2 = list1[2]

In [25]:
valor_1_2

14

In [26]:
list2 = listas[2]

In [27]:
list2

[10.1, 8.7, 2.3]

In [28]:
valor_2_0 = list2[0]

In [29]:
valor_2_0

10.1

**Operações com Listas**

In [30]:
listas = [ [1,2,3], [10,15,14], [10.1, 8.7, 2.3]]

In [31]:
listas

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [ ]:
a = listas[0][0] # Pega o primeiro elementos da primeira lista

In [ ]:
b = listas[1][2] # Pega o terceiro elemento da segunda lista

In [ ]:
c = listas[0][2] + 10 # Pega o terceiro elemento da primeira lista e soma 10 se for INT ou Float

In [38]:
c

13

In [39]:
d = 10

In [40]:
d

10

In [42]:
e = d * listas[2][0] # Multiplica o valor 10 pelo primeiro elemento da terceira lista

In [43]:
e

101.0

**Concatenando Listas**

In [44]:
lista_s1 = [34, 32, 56]

In [45]:
lista_s1

[34, 32, 56]

In [46]:
lista_s2 = [21, 90, 51]

In [47]:
lista_s2

[21, 90, 51]

In [ ]:
lista_total = lista_s1 + lista_s2  # Concatenando as duas listas
lista_total                         # Imprimindo a lista concatenada, ela não faz a soma dos valores
                                    # apenas concatena as listas

[34, 32, 56, 21, 90, 51]

**Operador In**

In [49]:
lista_teste_op = [100, 2, -5, 3.4]

In [50]:
print(10 in lista_teste_op)  # Verifica se o valor 10 está na lista, retorna False

False

In [51]:
print(100 in lista_teste_op)  # Verifica se o valor 100 está na lista, retorna True

True

**Função Built-in**

In [52]:
lista_numeros = [10, 20, 50, -3.4]

In [53]:
len(lista_numeros)  # Retorna o tamanho da lista, ou seja, quantos elementos tem na lista

4

In [54]:
max(lista_numeros)  # Retorna o maior valor da lista

50

In [55]:
min(lista_numeros)  # Retorna o menor valor da lista

-3.4

In [56]:
lista_formacoes_dsa = ["Analista de Dados", "Cientista de Dados", "Engenheiro de Dados"]

In [64]:
lista_formacoes_dsa  # Imprimindo a lista de formações DSA

['Analista de Dados',
 'Cientista de Dados',
 'Engenheiro de Dados',
 'Arquiteto de Dados',
 'Arquiteto de Dados',
 'Arquiteto de Dados',
 'Arquiteto de Dados',
 'Arquiteto de Dados',
 'Arquiteto de Dados',
 'Arquiteto de Dados',
 'Arquiteto de Dados',
 'Arquiteto de Dados',
 'Arquiteto de Dados']

In [75]:
lista_formacoes_dsa.append("Arquiteto de Dados") # Adicionando uma nova formação à lista
lista_formacoes_dsa

['Analista de Dados',
 'Cientista de Dados',
 'Engenheiro de Dados',
 'Arquiteto de Dados']

In [76]:
# é possivel adicionar valores iguais aos que ja adicionou na lista
lista_formacoes_dsa.append("Arquiteto de Dados")
# Adicionando mais uma formação à lista

In [77]:
lista_formacoes_dsa  # Imprimindo a lista de formações DSA

['Analista de Dados',
 'Cientista de Dados',
 'Engenheiro de Dados',
 'Arquiteto de Dados',
 'Arquiteto de Dados']

In [78]:
a = [ ] # Criando uma lista vazia

In [79]:
print(a)

[]

In [80]:
type(a)

list

In [81]:
a.append(10)  # Adicionando o valor 10 à lista vazia

In [82]:
a

[10]

In [83]:
a.append(50) # Adicionando o valor 50 a lista

In [84]:
a

[10, 50]

In [85]:
old_list = [ 1, 2, 5, 10]

In [86]:
new_list = [ ]

In [88]:
# Copiando os itens de uma lista para outra
for item in old_list:
    new_list.append(item)  # Adiciona cada item da old_list na new_list

In [89]:
new_list

[1, 2, 5, 10]

In [90]:
cidades = ['Recife', 'Manaus', 'Salvador']

In [91]:
cidades.extend(['Fortaleza,', 'Palmas'])
print(cidades)

['Recife', 'Manaus', 'Salvador', 'Fortaleza,', 'Palmas']

In [93]:
cidades.index('Salvador')

2

In [ ]:
cidades.index('Rio de Janeiro') # ao tentar achar o index de um valor inexsistente, se retorna erro.

ValueError: 'Rio de Janeiro' is not in list

In [94]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza,', 'Palmas']

In [ ]:
cidades.insert(2, 110) # Na posição 3, adicione valor "110"

In [96]:
cidades

['Recife', 'Manaus', 110, 'Salvador', 'Fortaleza,', 'Palmas']

In [97]:
cidades.remove(110) # Remove o valor 110

In [ ]:
cidades.reverse() # Inverte a ordem dos elementos na lista

In [99]:
cidades

['Palmas', 'Fortaleza,', 'Salvador', 'Manaus', 'Recife']

In [100]:
x = [3, 4, 2, 1]

In [101]:
x

[3, 4, 2, 1]

In [102]:
x.sort() # Ordena a lista em ordem crescente

In [103]:
x

[1, 2, 3, 4]

**Fim da parte 4**