**Trabalhando com Dicionarios**

In [1]:
estudantes_lst = ["Pedro", 24, "Ana", 22, "Ronaldo", 26, "Janaina", 25]

In [2]:
estudantes_lst

['Pedro', 24, 'Ana', 22, 'Ronaldo', 26, 'Janaina', 25]

In [3]:
type(estudantes_lst)

list

In [4]:
# Isso é um dicionario
estudantes_dict = {"Pedro":24, "Ana":22, "Ronaldo":26, "Janaina":25}

In [5]:
estudantes_dict

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25}

In [6]:
# Consultando os valores de Pedro dentro do dicionario
estudantes_dict["Pedro"]

24

In [7]:
# Isso é adição ao dicionario
estudantes_dict["Marcelo"] = 23

In [8]:
estudantes_dict["Marcelo"] # Isso é a consulta do dicionario no Marcelo

23

In [9]:
estudantes_dict.clear() # Isso é a limpeza do dicionario

In [10]:
estudantes_dict # Isso é a consulta do dicionario

{}

In [11]:
del estudantes_dict # Isso é a remoção do dicionario

In [12]:
estudantes_dict # irá apresentar erro, pois o dicionário foi removido

NameError: name 'estudantes_dict' is not defined

In [ ]:
estudantes = {"Pedro": 24, "Ana":22, "Ronaldo": 26, "Janaina": 25}

In [ ]:
estudantes

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25}

In [ ]:
len(estudantes)

4

In [ ]:
# Consultando as chaves do dicionario
estudantes.keys()

dict_keys(['Pedro', 'Ana', 'Ronaldo', 'Janaina'])

In [ ]:
# Consultando os valores do dicionario
estudantes.values()

dict_values([24, 22, 26, 25])

In [ ]:
# Consultando os itens do dicionario
estudantes.items()  # Retorna uma lista de tuplas, onde cada tupla contém um par chave-valor do dicionário

dict_items([('Pedro', 24), ('Ana', 22), ('Ronaldo', 26), ('Janaina', 25)])

In [ ]:
estudantes2 = {"Camila":27, "Adriana": 28, "Roberta":26}
# criando um novo dicionario

In [ ]:
estudantes2

{'Camila': 27, 'Adriana': 28, 'Roberta': 26}

In [ ]:
estudantes.update(estudantes2)  # Atualiza o dicionário estudantes com os pares chave-valor do dicionário estudantes2

In [ ]:
estudantes

{'Pedro': 24,
 'Ana': 22,
 'Ronaldo': 26,
 'Janaina': 25,
 'Camila': 27,
 'Adriana': 28,
 'Roberta': 26}

In [ ]:
dic1 = {}

In [ ]:
dic1["chave_um"] = 2

In [ ]:
dic1[10] = 5

In [ ]:
dic1
# Dentro da chave "chave_um" contem o valor 2, e dentro da chave 10 contem o valor 5

{'chave_um': 2, 10: 5}

In [ ]:
dic1[9.13] = "Python"

In [ ]:
dic1

{'chave_um': 2, 10: 5, 9.13: 'Python'}

In [ ]:
dic1["teste"] = 5

In [ ]:
dic1

{'chave_um': 2, 10: 5, 9.13: 'Python', 'teste': 5}

In [ ]:
dict1 = {}

In [ ]:
dict1["teste"] = 10

In [ ]:
dict1["key"] = "teste"

In [ ]:
dict1

{'teste': 10, 'key': 'teste'}

In [ ]:
dict2 = {}

In [ ]:
dict2["key1"] = "Data Science"

In [ ]:
dict2["key2"] = 10

In [ ]:
dict2["key3"] = 100

In [ ]:
dict2

{'key1': 'Data Science', 'key2': 10, 'key3': 100}

In [ ]:
a = dict2["key1"] # dentro da chave "key1" contem o valor "Data Science" mas estamos armazenando o valor na variavel a
b = dict2["key2"] # dentro da chave "key2" contem o valor 10 mas estamos armazenando o valor na variavel b
c = dict2["key3"] # dentro da chave "key3" contem o valor 100 mas estamos armazenando o valor na variavel c

In [ ]:
a, b, c

('Data Science', 10, 100)

In [ ]:
dict3 = {'chave1': 1230, 'chave2': [22,453,73.4], 'chave3': ['picanha', 'fraldinha', 'alcatra']}

In [ ]:
dict3

{'chave1': 1230,
 'chave2': [22, 453, 73.4],
 'chave3': ['picanha', 'fraldinha', 'alcatra']}

In [ ]:
dict3["chave2"]

[22, 453, 73.4]

In [ ]:
dict3['chave3'][0].upper()
# acessando o primeiro elemento da lista da chave 'chave3' e transformando em maiúscula

'PICANHA'

In [ ]:
# Operações com itens da lista, dentro do dicionario
var1 = dict3['chave2'][0] - 2

In [ ]:
var1

20

In [ ]:
dict3["chave2"][0] -= 2

In [ ]:
dict3

{'chave1': 1230,
 'chave2': [20, 453, 73.4],
 'chave3': ['picanha', 'fraldinha', 'alcatra']}

**Criando Dicionarios Aninhados**

In [ ]:
dict_aninhado = {'key1': {'key2_aninhada':{'key3_aninhada': 'dict aninhado em Python'}}}

In [ ]:
dict_aninhado

{'key1': {'key2_aninhada': {'key3_aninhada': 'dict aninhado em Python'}}}

In [ ]:
dict_aninhado['key1']['key2_aninhada']['key3_aninhada']

# Acessando o valor do dicionário aninhado pelo nome das chaves, podemos fazer o seguinte:
# dict_aninhado['key1']['key2_aninhada']['key3_aninhada'] -> acessa a chave key1, logo dentro dela, acessa a key2_aninhada
# logo dentro dela, acessa a key3_aninhada, que retorna o primeiro valor dela

# regra em python, toda vez que for buscar algo em dicionarios, use colchetes [] e os nomes das chaves, as chaves não sabem que ela são as primeiras chaves
# apenas valores sabe quais são suas posições.

'dict aninhado em Python'

**Fim**