**Trabalhando com Variaveis**

In [2]:
# Atribuindo o valor 1 a variavel var_teste
var_teste = 1

In [3]:
# imprimindo o valor da variavel
var_teste

1

In [4]:
# imprimindo o valor da variavel com o uso do print
print(var_teste)

1

In [ ]:
# Não podemos utilizar uma variavel que não foi definida. Leia a mensagem de erro.
my_var

"""
---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
Cell In[5], line 2
      1 # Não podemos utilizar uma variavel que não foi definida. Leia a mensagem de erro.
----> 2 my_var

NameError: name 'my_var' is not defined
"""

NameError: name 'my_var' is not defined

In [7]:
var_teste = 2

In [8]:
var_teste

2

In [9]:
type(var_teste)

int

In [10]:
var_teste = 9.5

In [11]:
type(var_teste)

float

In [12]:
x = 1

In [13]:
x

1

**Declaração Multipla**

In [14]:
pessoa1, pessoa2, pessoa3 = "Bob", "Maria", "Ana"

In [15]:
pessoa1

'Bob'

In [16]:
pessoa2

'Maria'

In [17]:
pessoa3

'Ana'

In [21]:
fruta1 = fruta2 = fruta3 = "Melancia"

In [22]:
fruta1

'Melancia'

In [23]:
fruta2

'Melancia'

In [ ]:
# O python é case-sensitive, significa que letras maiusculas e minusculas, são diferentes a eles, se forem nomes de variaveis ou coisas do tipo

Fruta2

# Nesse caso, é necessario a apresentação de erro, falando que o nome "F"ruta2, não foi definido

NameError: name 'Fruta2' is not defined

In [28]:
x1 = 50

In [29]:
x1

50

In [ ]:
# O começo de nome da variavel não poderá ser começado com número.

1x = 50

# Tambem não se pode usar o nome de palavras reservadas como variavel.

SyntaxError: invalid decimal literal (537436343.py, line 3)

In [ ]:
break = 1 # não se pode usar, pois break é uma palavra reservada

SyntaxError: invalid syntax (3713841946.py, line 1)

**Variaveis atribuidas a outras variaveis e ordem dos operadores**

In [32]:
largura = 2

In [33]:
altura = 4

In [34]:
area = largura * altura

In [35]:
area

8

In [36]:
perimetro = 2 * largura + 2 * altura

In [37]:
perimetro

12

In [38]:
# A ordem dos operadores é seguida como na Matematica

perimetro = 2 * (largura + 2) * altura

In [39]:
perimetro

32

**Operações com Variaveis**

In [40]:
idade1 = 25

In [41]:
idade2 = 35

In [42]:
idade1 + idade2

60

In [43]:
idade2 - idade1

10

In [44]:
idade2 * idade1

875

In [45]:
idade2 / idade1

1.4

In [46]:
idade2 % idade1

10

**Concatenações de Variaveis**

In [47]:
nome = "Bob"

In [48]:
sobrenome = "Marley"

In [54]:
fullname = nome +" "+ sobrenome

In [55]:
fullname

'Bob Marley'

**Fim Obrigado**