**Data Science Academy**

**Capitulo 6 - Estrutura de Dados (Tuplas)**

In [1]:
# Criando uma tupla
tupla1 = ("Geografia", 23, "Elefantes", 9.8, 'Python')

In [3]:
tupla1 # Imprimindo a tupla

('Geografia', 23, 'Elefantes', 9.8, 'Python')

In [4]:
# Tuplas não permitem alteração de elementos como o append()
tupla1.append("Novo Elemento")  # Isso causará um erro

AttributeError: 'tuple' object has no attribute 'append'

In [5]:
del tupla1["Elefantes"] 
# Isso causará um erro, pois tuplas não suportam a exclusão de elementos

TypeError: 'tuple' object does not support item deletion

In [6]:
tupla1 = ("Chocolate")

In [7]:
tupla1

'Chocolate'

In [8]:
tupla1 = ("Geografia", 23, "Elefantes", 9.8, 'Python')

In [9]:
tupla1[0]   # Acessando o primeiro elemento da tupla

'Geografia'

In [ ]:
len(tupla1)  # Verificando o tamanho da tupla

5

In [ ]:
# Slicing a tupla e acessando elementos a partir do segundo
tupla1[1:]

(23, 'Elefantes', 9.8, 'Python')

In [12]:
tupla1.index("Elefantes")  # Encontrando o índice do elemento "Elefantes"

2

In [1]:
tupla1[1] = 21 # vai dar erro

NameError: name 'tupla1' is not defined

In [2]:
t2 = ("A", "B", "C")

In [3]:
t2

('A', 'B', 'C')

In [4]:
t2[0] = "D" # vai dar erro

TypeError: 'tuple' object does not support item assignment

In [ ]:
# usando a função list(), para converter uma tupla para lista
lista_t2 = list(t2)

In [6]:
lista_t2

['A', 'B', 'C']

In [8]:
lista_t2.append("D")

In [9]:
t2 = tuple(lista_t2)

In [ ]:
t2

# Ao fizermos a transformação da tupla para lista, podemos adicionar novos valores, mas ao voltar em tupla, não conseguimos mais modificar seus elementos.

('A', 'B', 'C', 'D')

**Fim**